<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.common.mapper.FieldMapper">
	<resultMap type="Field" id="withEnum">
		<collection property="enumList" column="{fieldId=id}"
			select="com.common.mapper.EnumMapper.getByFieldId">
		</collection>
	</resultMap>

	<select id="getField" resultMap="withEnum">
		SELECT * FROM field where
		entity_id=(select id from entity where name=#{entityName}) and status = 1
	</select>
	
</mapper>  